# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules/
package-lock.json
yarn.lock
pnpm-lock.yaml

# dist
dist/
dist-ssr/
coverage/

# IDE
.vscode/
.idea/
.vscode/extensions.json
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.swp
*.swo

# Temporary files
.temp/
tmp/
*.tmp

# OS
.DS_Store
Thumbs.db

# Environment
.env
.env.local
.env.*.local
